<h1><%= @actor.name %></h1>


<%= hidden_field_tag :actor_id, @actor.id %>
<p>
  <b>Image url:</b>
  <%= @actor.image_url %>
</p>

<p>
  <b>Dob:</b>
  <%= @actor.dob %>
</p>

<p>
  <b>Bio:</b>
  <%= @actor.bio %>
</p>

<p><%= link_to 'Add a New Role', new_role_url(actor_id: @actor.id) %></p>

<% @actor.roles.each do |role| %>
	<article>
	  <% show = role.movie_id %><br>
	  <strong><%= Movie.find_by(:id => show).title %></strong><br>
      <%= role.name %>
     </article>
<% end %>

