<h1>Enter role for <%= @actor.name %> </h1>


<%= form_tag(roles_url, method: 'post') do %>
<%= hidden_field_tag :actor_id, @actor.id %>


  <div>
    <%= label_tag :name, 'Role Name'%><br />
    <%= text_field_tag :name %>
  </div>


<div>
    <%= label_tag :movie_id %><br />
    <%= select_tag "movie_id",
                   options_from_collection_for_select(Movie.order(:title), :id, :title) %>
  </div>

  <div>
    <%= submit_tag "Create Role"  %>
  </div>
<% end %>
